*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: #fff7ea;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.isolate
{
    isolation: isolate;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.container
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 1;
    
}

.slider
{
    position: absolute;
    cursor: ew-resize;
    z-index: 1;

    width: .4em;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    /* opacity: .6; */
    /* border-radius: 30%; */

    top: 0;
    left: calc(50% - .2em);
}

/* .slider:before
{
    color: black
}

.slider:after
{
    background-color: white;
    color: white;
} */

.content
{
    display: flex;
    padding-left: 2.8em;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff; */
    /* z-index: 1; */
}

h1
{
    padding-bottom: .7em;
    text-transform: uppercase;
    font-size: 12.5em;
    opacity: .3;

    user-select: none;
    pointer-events: none;
}

ul{
    /* width: 10%; */
    list-style-type: none;
    /* display: grid; */
    margin-left: 1em;
    
    /* margin: 0;
    padding: 0; */
}
li
{
    width: 2.1em;
    height: 2.1em;

    opacity: .3;
    border-radius: 50%;

    margin-top: 3em;
    margin-bottom: 1em;

    display: block;

    cursor:pointer;

    user-select: none;

    
}


#firstVerTxt
{
    display: inherit;
}

#firstVerTxt .btnColor
{
    background-color: black;
}

#secondVerTxt
{
    display: none;
    position: relative;

}

#secondVerTxt h1, #secondVerTxt li
{
    opacity: 1;
}

#secondVerTxt .wrapper
{
    display: flex;
}   

#secondVerTxt #rightWrapper
{
    position: absolute;
    top: 0;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
}

#secondVerTxt #leftLayer
{
    color: rgb(201, 0, 0);
}

#secondVerTxt #rightLayer
{
    color: white;
    opacity: 1;
    
}

#secondVerTxt #leftLayerBtn .btnColor
{
    background-color: rgb(201, 0, 0);
}

#secondVerTxt #rightLayerBtn .btnColor
{
    background-color: white;
    opacity: 1;

    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) */
}
